<div md-dialog-content class="dialog-content">
    <h1 md-dialog-title>Оформление заказа</h1>
    <form class="example-form">
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <md-input-container class="example-full-width">
                        <input md-input placeholder="Имя">
                    </md-input-container>
                </td>
                <td>
                    <md-input-container class="example-full-width">
                        <input md-input placeholder="Фамилия">
                    </md-input-container>
                </td>
            </tr>
        </table>

        <p>
            <md-input-container class="example-full-width">
                <textarea md-input placeholder="Адрес"></textarea>
            </md-input-container>
        </p>

        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <md-input-container class="example-full-width">
                        <input md-input placeholder="Город">
                    </md-input-container>
                </td>
                <td>
                    <md-input-container class="example-full-width">
                        <input md-input placeholder="Телефон">
                    </md-input-container>
                </td>
            </tr>
        </table>
    </form>
    <ng-container *ngFor="let order of orders">

        <table class="order" >
            <tr>
                <th></th>
                <th>Цена за единицу товара</th>
                <th> Общее количество товара</th>
                <th>Сумма</th>
            </tr>
            <tr *ngFor="let item of order.items">
                <td>
                    <img md-card-image src="/img/{{item.name}}.jpg" alt="{{item.name}}">
                </td>
                <td>
                   {{item.price}}
                </td>
                <td>
                    <md-icon class="md-24" (click)="minusQuantity(item, order)">remove</md-icon> <span class="quantity">{{item.quantity}}</span> <md-icon class="md-24" (click)="plusQuantity(item, order)">add</md-icon>
                </td>
                <td>
                    {{item.amount}}
                </td>
            </tr>
            <tr class="total">
                <td></td>
                <td></td>
                <td></td>
                <td>Всего</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>{{order.totalPrice}}</td>
            </tr>
        </table>
    </ng-container>
    <button md-dialog-close md-button class="order">Оформить заказ</button>
    <button md-dialog-close md-button class="close">Отменить заказ</button>
</div>