div.dialog-content {
    position: relative;
    width: 600px;
    height: 700px;
    max-height: 80vh;
}
button.close, button.order {
    position: absolute;
    bottom: 0;
    left: 20px;
    background-color: #4bbe3f;
    color: #fff;
}
table.order {
    width: 100%;
    margin-top: 20px;
}
table.order tr td {
    width: 30%;
    text-align: center;
}
table.order img{
    width: 50px;
}
table.order tr.total td{
    font-weight: 600;
}
[md-card-image] {
    margin: 0;
}


button.close{
    left: 200px;
    background-color: red;
}