<div md-dialog-content class="dialog-content">
    <h1 md-dialog-title>Оформление заказа</h1>
    <form class="example-form">
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <md-input-container class="example-full-width">
                        <input md-input placeholder="Имя">
                    </md-input-container>
                </td>
                <td>
                    <md-input-container class="example-full-width">
                        <input md-input placeholder="Фамилия">
                    </md-input-container>
                </td>
            </tr>
        </table>

        <p>
            <md-input-container class="example-full-width">
                <textarea md-input placeholder="Адрес"></textarea>
            </md-input-container>
        </p>

        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <md-input-container class="example-full-width">
                        <input md-input placeholder="Город">
                    </md-input-container>
                </td>
                <td>
                    <md-input-container class="example-full-width">
                        <input md-input placeholder="Телефон">
                    </md-input-container>
                </td>
            </tr>
        </table>
    </form>
    <button md-dialog-close md-button class="order">Оформить заказ</button>
    <button md-dialog-close md-button class="close">Отменить заказ</button>
</div>